body {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Unicode", "Verdana", "sans-serif";
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
}

.hide {
  display: none;
}

.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 16px 16px;
  transition: 0.3s;
  font-size: 1em;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: rgb(221, 221, 221);
}

.tab-content {
  padding: 6px 0;
  border: 1px solid #ccc;
  border-top: none;
  background-color: rgb(221, 221, 221);
}

.vertically-directed-center-aligned-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="tel"] {
  width: 20%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.button,
.hoverable-button,
#scroll-on-top-btn,
.scroll-to-bottom-btns,
.success-button,
.red-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
}

#scroll-on-top-btn,
.scroll-to-bottom-btns {
  position: fixed;
  font-size: 1.6em;
  bottom: 15%;
  right: 20%;
  z-index: 1;
}

.scroll-to-bottom-btns {
  font-size: 1.3em;
}

#scroll-on-top-btn span:hover {
  position: relative;
  top: -0.2em;
}

.scroll-to-bottom-btns span:hover {
  position: relative;
  top: 0.2em;
}
.hoverable-button:hover {
  background-color: #0056b3;
}

.success-button {
  background-color: green;
}

.red-button {
  background-color: red;
}

.button-margin-bottom {
  margin-bottom: 16px;
}

.dashboard,
.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.dashboard {
  padding: 0 8px;
  background-color: #f1f1f1;
}

.order {
  padding: 16px 8px;
  border: 2px solid white;
  border-radius: 8px;
}

.order div {
  margin: 0 12px;
}

#client-buttons {
  display: flex;
  justify-content: space-between;
}

.client-order-to-remove:hover {
  border: 1px solid red;
}

hr {
  border: 1px solid #007bff;
  margin: 16px 16px 32px;
}

#cart-button-div {
  margin: 0 16px;
}

#articles-quantity {
  background-color: white;
  color: #007bff;
  padding: 0 3px;
  border-radius: 12px;
}

table {
  border-collapse: collapse;
}

tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

tr:first-child th:last-child {
  border-top-right-radius: 8px;
}
tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

th {
  padding: 12px 8px;
  background-color: #999999;
  color: white;
}

th,
tbody tr td {
  text-align: left;
  border-bottom: 1px solid rgb(221, 221, 221);
}

tbody tr td,
tfoot tr td {
  padding: 8px;
}

tbody tr {
  background-color: white;
}

tfoot tr td {
  text-align: center;
  background-color: rgb(240, 240, 240);
}

tbody tr:hover {
  background-color: rgb(207, 241, 207);
}

.cart-item-quantity {
  text-align: right;
}

.decrease-quantity,
.increase-quantity,
.remove-item {
  border-radius: 4px;
}

.decrease-quantity:hover,
.increase-quantity:hover {
  color: white;
  background-color: #007bff;
}

.remove-item:hover {
  color: white;
  background-color: red;
}

.blue-font-color {
  color: #007bff;
}

.menu-item {
  border: 1px solid #ddd;
  padding: 16px 0;
  margin: 16px 0;
  background-color: #f9f9f9;
}

.menu-item,
#alert-order {
  margin-left: 32%;
  margin-right: 32%;
}

.menu-item h2 {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.menu-item p {
  margin: 4px 0;
}

.alert-success {
  background-color: rgb(103, 199, 107);
}

.green-font-color {
  color: green;
}

.red-font-color {
  color: red;
}

.order-item-quantity {
  text-align: center;
}

.order-details p {
  text-align: left;
}

.alert-pending {
  background-color: rgb(45, 166, 241);
}

.chef-order-tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.chef-order-tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.delivery-men-staff-orders {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  margin: 16px;
}

.order-to-deliver {
  border: 1px solid rgb(240, 240, 240);
}

.order-selected {
  border: 1px solid red;
}
