body {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Unicode", "Verdana", "sans-serif";
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
}

.hide {
  display: none;
}

.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 1em;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: rgb(221, 221, 221);
}

.tab-content {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: rgb(221, 221, 221);
}

.vertically-directed-center-aligned-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="tel"] {
  width: 20%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 30px;
}

.menu-item {
  border: 1px solid #ddd;
  padding: 16px;
  margin: 16px;
  margin-left: 32%;
  margin-right: 32%;
  background-color: #f9f9f9;
}

.menu-item h2 {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.menu-item p {
  margin: 4px 0;
}

.alert-success {
  background-color: rgb(103, 199, 107);
}

table {
  border-collapse: collapse;
}

tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

tr:first-child th:last-child {
  border-top-right-radius: 10px;
}
tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

th {
  padding: 12px 8px;
  background-color: #999999;
  color: white;
}

th,
tbody tr td {
  text-align: left;
  border-bottom: 1px solid rgb(221, 221, 221);
}

tbody tr td,
tfoot tr td {
  padding: 8px;
}

tbody tr:nth-child(odd),
tbody tr:nth-child(even) {
  background-color: white;
}

tfoot tr td {
  text-align: center;
  background-color: rgb(240, 240, 240);
}

tbody tr:hover {
  background-color: #ddd;
}

.item-quantity {
  text-align: right;
}

.decrease-quantity,
.increase-quantity,
.remove-item {
  border-radius: 5px;
}

.decrease-quantity:hover,
.increase-quantity:hover {
  color: white;
  background-color: #007bff;
}

.remove-item:hover {
  color: white;
  background-color: red;
}

.money-font-color {
  color: #007bff;
}
